# Source files
src/
__tests__/
test/
tests/
*.test.ts
*.spec.ts

# Configuration files
.eslintrc.json
.prettierrc
.github/
tsconfig.json
jest.config.js
.gitignore
.env
.env.*

# Development files
node_modules/
coverage/
.vscode/
.idea/
*.log
logs/
token.json

# Pre-build files
*.ts
!*.d.ts